
@import "tools/normalize"
@import "tools/base"
@import "sections/loader"
@import "sections/header"
@import "sections/landing"
@import "sections/navigation"
@import "sections/about"
@import "sections/skills"
@import "sections/projects"
@import "sections/footer"
@import "sections/contact"

    
.site-wrapper
    transform: translateY(80vh)
    transition: all ease-in-out 800ms
    opacity: 0
    &.active
        transform: translateY(0px)
        opacity: 1

